{% extends "layout.html" %}
{% block content%}
<h4>회원탈퇴 페이지</h4>
<form method="post" action="user/handleDelete">
    <div class="mb-3">
      <label for="exampleInputId" class="form-label">아이디</label>
      <input type="text" class="form-control" id="exampleInputId" name="userId">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="exampleInputPassword" name="userPw">
    </div>
    <button type="submit" class="btn btn-danger">삭제</button>
  </form>
  {% endblock %}