<!DOCTYPE html>
<html>
<head>
    <style>
        * { box-sizing: border-box; margin: 0px; }
        .background { width: 1024px; height: 600px; background-image: url ("C:/Users/smhrd/OneDrive/바탕 화면/NodeJS/08.DB/img/background.png"); padding: 20px 0px 0px 20px; }
        .outerbox { width: 808px; height: 544px; background-image: url ("C:/Users/smhrd/OneDrive/바탕 화면/NodeJS/08.DB/img/outerbox.png"); }
        .wrapper { display: flex; flex-direction: row; padding: 32px 0px 0px 32px; padding-top: 45px; }
        .wrapper__left { width: 208px; height: 472px; background-color: white; display: flex; flex-direction: column; border-radius: 15px; }
        .wrapper__left__header { width: 100%; height: 30px; display: flex; flex-direction: row; justify-content: center; align-items: center; }
        .today { font-size: 9px; }
        .wrapper__left__body { width: 100%; height: 100%; border: 1px solid gray; border-radius: 15px; background-color: white; display: flex; flex-direction: column; align-items: center; padding: 20px 30px; }
        .left__body__header { width: 100%; display: flex; flex-direction: column; }
        .left__body__header__gray { width: 148px; height: 133px; background-color: gray; }
        .left__body__header__line { border-top: 1px dotted black; margin: 12px 0px; }
        .left__body__profile { display: flex; flex-direction: column; align-items: start; justify-content: start; }
        .ele { font-size: 9px; display: flex; flex-direction: row; justify-content: start; align-items: start; }
        .left__body__footer { display: flex; flex-direction: column; }
        .feeling { font-size: 12px; }
        .feeling2 { display: flex; flex-direction: row; }
        .wrapper__right { width: 524px; height: 472px; background-color: white; border-radius: 15px; margin-left: 7px; }
        .wrapper__right__header { display: flex; flex-direction: row; justify-content: start; color: #55b2d4; font-family: Malgun Gothic; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal; padding-left: 60px; }
        .wrapper__right__body { display: flex; flex-direction: column; }
        .wrapper__right__body__0 { display: flex; flex-direction: column; }
        .wrapper__right__body__img { width: 150px; height: 150px; background-color: bisque; }
        .wrapper__right__body__bgm { margin-top: 10px; margin-left: 20px; color: #55b2d4; font-family: Malgun Gothic; font-size: 13px; font-style: normal; font-weight: 700; line-height: normal; }
        .wrapper__right__body__line { margin-left: 20px; width: 500px; height: 1px; background: #999; }
        .right__body__img { display: flex; flex-direction: row; justify-content: space-evenly; }
        .bgm_name { display: flex; flex-direction: row; justify-content: space-around; }
        .name { width: 120px; color: #0f465e; text-align: center; font-family: Malgun Gothic; font-size: 11px; font-style: normal; font-weight: 700; line-height: normal; }
        .bgm_name2 { display: flex; flex-direction: row; justify-content: space-around; }
        .name2 { color: #999; text-align: center; font-family: Malgun Gothic; font-size: 10px; font-style: normal; font-weight: 700; line-height: normal; }
        .wrapper__right__footer { display: flex; flex-direction: column; }
        .footer__chart { display: flex; flex-direction: column; }
        .chart-1 { margin-left: 20px; display: flex; flex-direction: row; justify-content: space-evenly; }
        .line { margin-left: 20px; width: 500px; height: 1px; background: #999; }
    </style>
</head>
<body>
    <div class="background">
        <div class="outerbox">
            <div class="wrapper">
                <div class="wrapper__left">
                    안녕하세요
                </div>
                <div class="wrapper__right">
                    반가워요
                </div>
            </div>
        </div>
    </div>
</body>
</html>
